<h1>Bonjour veuillez confirmer votre email!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation Email</a>.
    Ce lien expirera dans{{ expiresAt|date('g') }} heur(s).
</p>

<p>
    Merci!
</p>
