<form method="post" action="{{ path('mesure_femme_delete', {'id': mesure_femme.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette mesure ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mesure_femme.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
