{% extends 'base.html.twig' %}

{% block title %}Ajoute{% endblock %}

{% block body %}
     
{{ form_start(form) }}
 <h1>Ajouter un modéle</h1>
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    
{{ form_end(form) }}
{% endblock %}
